.thumbnail
{
    display:block;
    width:278px;
}

.search-box
{
    display:block;
    font-size:15px;
    /* margin-left: 10px;     */
}

.video-title
{
    font-family: Arial;
    width:278px;
    font-size: 12px;
}

.video-preview
{
    width:278px;
    display:inline-block;
    vertical-align: top;
    margin-right: 5px;
}
