body
{
    margin:0;
}

.thumbnail
{
    display:block;
    width:100%;
}

.header-bar
{
    display:flex;
    flex-direction: row;
    border:none;
    background-color:black;
    height:100px;
    justify-content: space-between;
    
}

.left-section
{
    width:150px;
    background-color: red;
}

.middle-section
{
    flex: 1;
    background-color: white;
    margin-left:100px;
    margin-right:75px;
    max-width:1200px;    
}

.right-section
{
    background-color: brown;
    color:white;
    width:250px;
}

.search-box
{
    /* display:block; */
    font-size:15px;
    /* margin-left: 10px;     */
}

.main-page-recommendations
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:15px;
    row-gap:50px;
}

.video-title
{
    /* font-family: Roboto; */
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
}


.video-preview
{
    font-family:Roboto, Arial;
    margin-bottom:0px;
    width:100%;
    margin-right: 5px;
}

.video-meta
{
    display: grid;
    grid-template-columns: 40px 1fr;
}

.youtube-dp
{
    /* margin-right:5px; */
    vertical-align: top;
}

.display-pic
{
    width:100%;
    border-radius: 50%;
}

.video-details
{    
    /* font-family: Roboto; */
    width:100%;
    margin-left:5px;
    /* vertical-align: top; */
}

.video-meta
{
    margin-top: 10px;   
}

.video-publisher
{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 0px;
}

.viewsandtime
{
    font-size: 14px;
    color:rgb(96, 96, 96);
    margin-top:3px;
}